<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>310951902575-purh6h75lsthbh8bpmmdcmmn0777grah.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.310951902575-purh6h75lsthbh8bpmmdcmmn0777grah</string>
	<key>API_KEY</key>
	<string>AIzaSyA8DDBhMbnifp2C4w562ile50tR90Duv0U</string>
	<key>GCM_SENDER_ID</key>
	<string>310951902575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.systemsat.family</string>
	<key>PROJECT_ID</key>
	<string>ssx-family-f47b6</string>
	<key>STORAGE_BUCKET</key>
	<string>ssx-family-f47b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310951902575:ios:b87aa171171b11be</string>
	<key>DATABASE_URL</key>
	<string>https://ssx-family-f47b6.firebaseio.com</string>
</dict>
</plist>